annotated-types
joblib
lxml
matplotsoccer
multimethod
mypy-extensions
pandera
pydantic
pydantic-core
scikit-learn
scipy
socceraction
threadpoolctl
typeguard
typing-extensions
typing-inspect
wrapt
plotly
dash
mplsoccer